<!--
<section>
	<p>Die First zur Anmeldung für die Einzelgespräche und den Workshop ist abgelaufen.</p>
	<p>Als Bewerber erhälts Du eine E-Mail mit allen weiteren Infos von dem jeweiligen Unternehmen.</p>
</section>
-->

<section>
	<div class="cv-headline headline">
		<h2>Lebenslauf</h2>
		<span class="cv-status bubble green" ng-if="guest.cv">hochgeladen</span>
	</div>
	
	<div>
		<div ng-if="!guest.cv" class="button flat blue big" name="file" ngf-select="upload($file)" ngf-pattern="'application/pdf'" ngf-accept="'application/pdf'" ngf-max-size="20MB">hochladen</div>
		
		<div ng-if="guest.cv" class="button flat blue big" name="file" ngf-select="upload($file)" ngf-pattern="'application/pdf'" ngf-accept="'application/pdf'" ngf-max-size="20MB">ersetzen</div>

		<a href="/api/dn/cv/{{guest.cv}}"><div class="button flat blue big" ng-if="guest.cv">Download</div></a>
	</div>
</section>

<section class="companies-list">
	<div class="list-header">
		<div class="title">Unternehmen</div>
	</div>
	<div class="list-content">
		<table class="companies list">
			<tr ng-class="{ selected: co.selected }" ng-repeat="co in companies" ng-click="toggleCo(co)">
				<td>
					<img src="/style/img/Logo-{{co.name}}.jpg" alt="Logo {{co.name}}" />
				</td>
				<td>
					<span class="value">{{co.name}}</span>
					<span class="label">Unternehmen</span>
				</td>
				<td>
					<span class="value">{{co.type}}</span>
					<span class="label">Typ</span>
				</td>
				<td>
					<span class="icon ion-checkmark-round" ng-if="co.selected"></span>
					<span class="icon ion-close" ng-if="!co.selected"></span>
				</td>
			</tr>
		</table>
	</div>
</section>